autopep8
coverage
jinja2
jupyter_sphinx
jyquickhelper
matplotlib
pandas
Pillow
pycodestyle
pylint>=2.14.0
pyquickhelper
pyquicksetup>=0.2
sphinx<6
sphinx_rtd_theme
sphinx_gallery
sphinxcontrib.imagesvg
wheel
